{% extends 'base.html.twig' %}

{% block title %} {{app.user.prenom}} {{app.user.nom}}'s Profile{% endblock %}

{% block body %}
 <style>
    .main-profile {height: 85vh;}
</style>

<div class="main-profile text-center bg-light"><br />
    <h1 class="font-weight-bold">Your Profile</h1><br />

    <img src="{{ asset('upload/profile/'~app.user.picture)}}"style="object-fit: cover;width:200px;height:200px;border-radius:50%" /><br /><br />
    <h4>
        {% if app.user.roles|length == 3 %}
        <span class="text-success">ADMINISTRATOR</span>
        {% elseif app.user.roles|length == 2 %}
        <span class="text-warning">AUTHOR</span>
        {% else %}
        <span class="text-primary">User</span>
        {% endif %}
    </h4>
    <h3> {{app.user.prenom|capitalize}} {{app.user.nom|upper}} </h3>
    <h3> {{app.user.email}} </h3><br />

    <a class="btn btn-primary" href=" {{ path('editUser', {'id': app.user.id }) }} ">Edit</a>
    <br /><br />

</div>
{% endblock %}