<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <style>
    #alert{position:absolute; z-index:9999;left:44%;}
    nav #hide, nav #hide1{display:none;}
    .menu {display: flex;flex-direction: row;}
    li {padding-left: 10px;}
    </style>
    </style>

    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href=" {{ path('index') }} ">Accueil</a>
            <div onmouseover="show()"  onmouseout="out()"> 
                <ul class="navbar-nav">
                    {% if app.user is not null %}                
                    <li><a href="{{ path('profile') }}">
                    <img src="{{ asset('upload/profile/'~app.user.picture)}}" style="object-fit: cover;width:40px;height:40px;border-radius:50%"/></a>
                    </li>

                    <ul class="mini-nav navbar-nav" id="hide">
                    {% if is_granted('ROLE_ADMIN') %}                    
                    <li><a class="nav-link" href=" {{ path('admin') }} ">Administration</span></a></li>
                    {% endif %}
                    {% if is_granted('ROLE_AUTHOR') %}
                    <li><a class="nav-link" href="{{ path('article_own') }}">My Articles</a></li>
                    {% endif %}
                    <li><a class="nav-link" href="{{ path('profile') }}">Profile</a></li>
                    <li><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>                    

                    {% else %}
                    <li class="nav-link"><a href="{{ path('app_login') }}"> Connexion</a>/<a href="{{ path('app_register') }}">Inscription</a></li>    
                    {% endif %}
                    </ul>
                </ul>
            </div>
        </nav>

        <div class="container">

            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <p id="alert" class="alert alert-{{ type }}">{{ message }}</p>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
            
        </div>

        {% block javascripts %}
        <script>
            if(document.getElementById("alert").style.display = "block"){setInterval(() => {document.getElementById("alert").remove()             
            }, 2000);}
            function show() {document.getElementById("hide").style.display = "flex";}
            function out() {document.getElementById("hide").style.display = "none";}
            function show1() {document.getElementById("hide1").style.display = "flex";}
            function out1() {document.getElementById("hide1").style.display = "none";}
        </script>        
        {% endblock %}
    </body>
</html>
